/* purgecss start ignore */
@tailwind base;

html {
  @apply font-mono;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  @apply font-bold;
}
h1 {
  font-size: 1.875rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  @apply text-base;
}
a {
  @apply font-normal;
}
a:hover {
  text-decoration: underline;
}
hr {
  @apply my-8;
}

pre,
pre[class*='language-'] {
  border-radius: 6px;
}

.header-anchor {
  @apply absolute opacity-0 text-nuxt-lightgreen;
  font-size: 0.85em;
  margin-left: -0.87em;
  margin-top: 0.125em;
  padding-right: 0.25em;
  user-select: none;
}
.header-anchor:hover {
  text-decoration: underline;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor {
  @apply opacity-100;
}

.icon.outbound {
  position: relative;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  color: #aaa;
}

@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
